#titleStuff{
  text-align: center;
}

#more{
  display: none;
}

#theButtons{
  margin: auto;
  padding: 10px;
}

#past{
  display: none;
}

.flexSettings{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
}

#suggestions{
  text-align: right;
  padding: 20px;
}

.card{
    border: 2px solid black;
    flex: 0 1 32%;
}

img{
  margin: auto;
  display: block;
}

.cardText{
  border-top: 2px solid black;
  text-align: center;
}

.favorite{
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
}

.favorite:hover{
  color: gold;
}

@media only screen and (max-device-width: 700px){
  #suggestions{
    text-align: center;
  }
  .flexSettings{
    flex-direction: column;
    flex-flow: default;
    align-content: center;
  }
  .card{
    width: 97%;
  }
  img{
    width: 100%;
  }
}